.form-control{
    appearance: auto !important;
}

/* modal select box  */
.se .select2-container .select2-selection--single{
    width: 250px !important;
}

/* ************** Register *************** */
.register-card{
    box-shadow: 2px 2px 2px #015b01;
}

.navhactive {
    text-decoration: none;
    color: #ff0000;
    /* letter-spacing: 2px; */
    font-weight: 700;
    /* transition: 0.6s; */
    /* background-color: #3f68fc; */
    border-radius: 10px;

    margin-bottom: 10px;
    /* box-shadow: 3px 3px 3px #333; */
}

.patientnav a:hover {
    text-decoration: none;
    color: #ff0000;
    /* letter-spacing: 2px; */
    font-weight: 700;
    /* transition: 0.6s; */
    /* background-color: #3f68fc; */
    border-radius: 5px;
    /* padding: 10px; */
    margin-bottom: 10px;
    /* box-shadow: -2px -2px 2px #333; */
}

/* doctor */

@media screen and (max-width: 400px) {
    .vm--modal {
        width: 400px !important;
        left: 1px !important;
    }
}


/* Patient List  */

.plnav a{
    border : 1px solid #0cbef9;
    padding: 8px;
    border-radius: 5px;
    background-color: aqua;
    color: #333;
}

.plnav a.plactive{
    border : 1px solid #f93939;
    padding: 8px;
    border-radius: 5px;
    background-color: #f93939;
    color: #333;
}
